<article class="post">
      <div class="card-body">
        <h5 class="card-title">{{topic}}</a>
        <ol>
        <li>#1{{item1}}</li>
        <li>#2{{item2}}</li>
        <li>#3{{item3}}</li>
        <li>#4{{item4}}</li>
        <li>#5{{item5}}</li>
        </ol>
        Blog by {{user.username}} on
        {{!-- {{format_date created_at}} --}}
      </div>
    </article>


{{!-- <div class="container">

  <div class="row">
    <div class="col-sm-6">
      <div class="card-body">
        <h5 class="card-title">Workout Routines</h5>
        <ol>
          <li>Getting out of bed</li>
          <li>Walking the pups</li>
          <li>Crunches</li>
          <li>Push-ups</li>
          <li>Sit-ups</li>
        </ol>



        <button class="btn likeBtn btn-info">Vote</button>


      </div>
    </div>
    <div class="col-sm-6">
      <div class="card-body">
        <h5 class="card-title">Movie Genre</h5>
        <ol>
          <li>Action</li>
          <li>Sci-fi/Fantasy</li>
          <li>Horror</li>
          <li>Thriller</li>
          <li>RomCom</li>
        </ol>

        <button class="btn likeBtn btn-info">Vote</button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="card-body">
        <h5 class="card-title">Vacation Spots</h5>
        <ol>
          <li>Europe</li>
          <li>Alaska</li>
          <li>Hawaii</li>
          <li>Japan</li>
          <li>Somewhere else</li>
        </ol>
        <button class="btn likeBtn btn-info">Vote</button>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card-body">
        <h5 class="card-title">Beaches</h5>
        <ol>
          <li>Sandy Ones</li>
          <li>No Water</li>
          <li>No Crowds</li>
          <li>Warm Weather</li>
          <li>Has water</li>
        </ol>
        <button class="btn likeBtn btn-info">Vote</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="card-body">
        <h5 class="card-title">Workout Routines</h5>
        <ol>
          <li>Getting out of bed</li>
          <li>Walking the pups</li>
          <li>Crunches</li>
          <li>Push-ups</li>
          <li>Sit-ups</li>
        </ol>
        <button class="btn likeBtn btn-info">Vote</button>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card-body">
        <h5 class="card-title">Movie Genre</h5>
        <ol>
          <li>Action</li>
          <li>Sci-fi/Fantasy</li>
          <li>Horror</li>
          <li>Thriller</li>
          <li>RomCom</li>
        </ol>
        <button class="btn likeBtn btn-info">Vote</button>
      </div>
    </div>
  </div>

  <script src="javascript/like.js"></script> --}}